@font-face {
  font-family: "Brolimo";
  src: url();
}

html {
  --fs-body: 20px;
  --fs-xxl: 6.4rem;
  --fs-xl: 4.5rem;
  --fs-l: 3rem;
  --fs-m: 1.3rem;
  --fs-s: 1rem;
  --fs-xs: 0.7rem;
  --primaer-clr: #6a3e2f;
  --sekundaer-clr: #e3d2c3;
  --tridaer-clr: #b89b89;
  --firdaer-clr: #694d3c;
  --femdaer-clr: #ffffff;
  --ff-headlines: "Brolimo", sans-serif;
  --ff-main: "Lato", sans serif;
}

main {
  font-family: var(--ff-main);
  font-size: var(--fs-s);
  color: var(--sekundaer-clr);
}

h1 {
  font-family: var(--ff-headlines);
  font-size: var(--fs-xxl);
  color: var(--sekundaer-clr);
}

h2 {
  font-family: var(--ff-headlines);
  font-size: var(--fs-xl);
  color: var(--sekundaer-clr);
}

h3 {
  font-family: var(--ff-headlines);
  font-size: var(--fs-l);
  color: var(--tridaer-clr);
}

p {
  font-family: var(--ff-main);
  font-size: var(--fs-m);
  color: var(--sekundaer-clr);
}

body {
  background-color: var(--primaer-clr);
}

main {
  flex: 1;
}

header,
footer {
  background-color: var(--tridaer-clr);
  padding: 1rem;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0.5rem 0;
  font-family: var(--ff-headlines);
}

.image_container {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.rounded_sides {
  border-radius: 30%;
  max-width: 100%;
  height: auto;
}

.rounded_sides2 {
  border-radius: 100%;
  max-width: 80%;
  margin: 0.5rem 0;
}

.rounded_sides3 {
  border-radius: 10%;
  max-width: 80%;
  margin: 0.5rem 0; /* Add this line */
}

.rounded_sides4 {
  border-radius: 10%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: var(--femdaer-clr);
  text-decoration: none;
}

.nav-link:hover {
  color: beige;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: var(--femdaer-clr);
  transition: 0.3s;
}

@media (max-width: 550px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .image_container {
    justify-content: center;
    align-items: center;
  }

  .rounded_sides,
  .rounded_sides2,
  .rounded_sides3,
  .rounded_sides4 {
    margin: 0 auto;
  }

  video {
    display: block;
    margin: 0 auto;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footer {
  background-color: var(--tridaer-clr);
  text-align: center;
  padding: 1rem;
}

.footer a {
  color: var(--femdaer-clr);
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    padding: 10px;
  }
  .footer a {
    display: block;
    margin: 5px 0;
  }
}

.text-box p {
  margin: 10px 0;
  text-align: left;
  color: var(--femdaer-clr);
}

li {
  font-size: 25px;
  font-family: "Bolimo", sans-serif;
}

.button {
  background-color: #69563c;
  color: #e3d2c3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #574d34;
}

video {
  max-width: 70%;
}

.nav-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.grid_1-1-1 {
  display: grid;
}

.image-container {
  background-color: #e3d2c3;
  padding: 40px; /* Tilføj lidt padding omkring billedet */
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.text-content {
  width: 60%;
}

.image-box {
  position: relative;
  width: 35%;
  background-color: var(--sekundaer-clr);
  padding: 0 20px 40px 0; /* Juster padding for at forskyde boksen */
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 10px;
}

.image-box img {
  position: relative;
  right: 50px; /* Justér denne værdi for at forskyde billedet i forhold til boksen */
  max-width: calc(
    100% + 10px
  ); /* Justér denne værdi så billedet passer med padding */
  border-radius: 50px;
  height: 100%;
  margin-top: -20px;
}

.text-box {
  background-color: #9c8360;
  padding: 25px;
  border-radius: 80px;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.text-box p {
  margin: 10px 0;
}

.text-box h3 {
  font-size: 2rem; /* Juster størrelsen for at matche Figma */
  font-weight: bold;
  color: var(--femdaer-clr);
  margin-bottom: 15px; /* Juster margin for bedre spacing */
  text-align: left;
}
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .text-content,
  .image-box {
    width: 100%;
  }

  .image-box {
    margin-bottom: 20px;
  }

  .text-box {
    width: 90%;
  }
}
.background-box {
  background-color: #e3d2c3; /* Farven på den bagvedliggende boks */
  padding: 50px; /* Giver lidt ekstra plads rundt om tekstboksen */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto; /* Centrerer baggrundsboksen */
  width: 40%; /* Juster bredden for at gøre den mindre i siderne */
  position: relative;
  left: -20px;
}
