@font-face {
  font-family: "Bolimo";
  src: url();
}

html {
  --fs-body: 20px;
  --fs-xxl: 6.4rem;
  --fs-xl: 4.5rem;
  --fs-l: 3rem;
  --fs-m: 1.3rem;
  --fs-s: 1rem;
  --fs-xs: 0.7rem;
  --primaer-clr: #6a3e2f;
  --sekundaer-clr: #e3d2c3;
  --tridaer-clr: #b89b89;
  --firdaer-clr: #694d3c;
  --femdaer-clr: #ffffff;
  --ff-headlines: "Brolimo", sans-serif;
  --ff-main: "Lato", sans serif;
}

main {
  font-family: var(--ff-main);
  font-size: var(--fs-s);
  color: var(--sekundaer-clr);
}

h1 {
  font-family: var(--ff-headlines);
  font-size: var(--fs-xxl);
  color: var(--sekundaer-clr);
}

h2 {
  font-family: var(--ff-headlines);
  font-size: var(--fs-xl);
  color: var(--sekundaer-clr);
}

h3 {
  font-family: var(--ff-headlines);
  font-size: var(--fs-l);
  color: var(--sekundaer-clr);
}

p {
  font-family: var(--ff-main);
  font-size: var(--fs-m);
  color: var(--sekundaer-clr);
}

body {
  background-color: var(--primaer-clr);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--femdaer-clr);
}

.hamburger {
  display: none;
  position: relative;
  z-index: 101; /* Ensure hamburger icon is in front */
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.nav-item {
  margin-left: 1rem; /* Set some margin */
}

.nav-link {
  font-size: 1rem;
  font-weight: 300;
  color: var(--femdaer-clr);
}

.nav-link:hover {
  color: beige;
}

@media (max-width: 550px) {
  .nav-menu {
    position: fixed;
    left: -150%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--sekundaer-clr);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 100; /* Ensure menu is above other content */
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

img {
  max-width: 100%;
}

.rounded_sides {
  border-radius: 30%;
  max-width: 100%;
  height: auto;
}

.rounded_sides2 {
  border-radius: 100%;
}

.rounded_sides3 {
  border-radius: 10%;
  max-width: 80%;
}

h1,
h2 {
  text-align: center;
  margin: 0;
  padding: -10px 0;
}

p {
  text-align: center;
  margin: 5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex: 1;
}

.footer {
  background-color: #b89b89;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    padding: 10px;
  }
}
.footer a {
    display: block;
    margin: 5px 0;
  }
}
.text-box {
  background-color: #9c8360;
  color: white;
  padding: 25px;
  border-radius: 80px;
  max-width: 600px;
  margin: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-box p {
  margin: 10px 0;
  text-align: left;
  color: var(--femdaer-clr);
}

li {
  font-size: 25px;
  font-family: Bromilo;
}

.center {
  text-align: center;
}

.button {
  background-color: #69563c; /* Baggrundsfarve */
  color: #e3d2c3; /* Tekstfarve */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #574d34; /* Mørkere baggrundsfarve ved hover */
}

video {
  max-width: 70%;
}

.rounded_sides4 {
    border-radius: 10%;
}